
  html {
  	height: 100%;
  }

  body {
	height: 700px;
	/*background: url('background.jpg')  no-repeat center center fixed;*/
	background: -webkit-linear-gradient(hsl(200,51%,32%), transparent 75%), url('background.jpg');
	background: -webkit-linear-gradient(hsl(200,51%,32%), transparent 75%), url('background.jpg');
	background: -o-linear-gradient(hsl(200,51%,32%), transparent 75%), url('background.jpg');
	background: -ms-linear-gradient(hsl(200,51%,32%), transparent 75%), url('background.jpg');
	background: -moz-linear-gradient(hsl(200,51%,32%), transparent 75%), url('background.jpg');
	background-size: cover;
}



li {
	list-style-type: none;
	display: inline-block;
	font-family: Helvetica, sans-serif;
	font-size: 20px;
	padding-right: 20px;
	
}

a {
	text-decoration: none;
	color: slategray;
	cursor: pointer;
	display: inline-block;


}

a:hover {
	color: white;
}

#about {
	height: 300px;
	width: 600px;
	margin: auto;
	margin-top: 10%;
	border-radius: 5px;
}

#aboutme {
	text-align: center;
	font-size: 24px;
	color: white;
	padding: 30px;
	font-family: Helvetica, sans-serif;
}

#twitter {
text-align: center;
margin-top: 10px;
}

audio {
	float: right;
	display: none;
}

@-webkit-keyframes fadeIn
{
from { opacity: 0 }
to { opacity: 1 }
}

.fadeIn 
{
-webkit-animation: fadeIn 5s;
}
