
  body {
	height: 700px;
	background: url('background.jpg')  no-repeat center center fixed;
	background-size: cover;
}



li {
	list-style-type: none;
	display: inline-block;
	font-family: Helvetica, sans-serif;
	font-size: 20px;
	padding-right: 20px;
	
}

a {
	text-decoration: none;
	color: hsl(0, 0%, 50%);
	cursor: pointer;

}

a:hover {
	color: white;
}

#about {
	height: 300px;
	width: 600px;
	background-color: hsla(0,100%,50%, 0.6);
	margin: auto;
	margin-top: 10%;
	border-radius: 5px;
	display: none;
}

#aboutme {
	text-align: center;
	font-size: 24px;
	color: white;
	padding: 30px;
	font-family: Helvetica, sans-serif;
	display: none;	
	font-family: Helvetica, sans-serif;	
	font-family: Helvetica, sans-serif;	
	display: none;
}

#twitter {
text-align: center;
margin-top: 10px;
}

