 html {
 	height: 100%;
 }
  body {
	height: 700px;
	/*background: url('background.jpg')  no-repeat center center fixed;*/
	background: -webkit-linear-gradient(hsl(200,51%,32%), transparent 75%), url('background.jpg');
	background: -o-linear-gradient(hsl(200,51%,32%), transparent 75%), url('background.jpg');
	background: -ms-linear-gradient(hsl(200,51%,32%), transparent 75%), url('background.jpg');
	background: -moz-linear-gradient(hsl(200,51%,32%), transparent 75%), url('background.jpg');
	background-size: cover;
}


li {
	list-style-type: none;
	display: inline-block;
	font-family: Helvetica, sans-serif;
	font-size: 20px;
	padding-right: 20px;
	
}

a {
	text-decoration: none;
	color: slategray;
	cursor: pointer;

}


a:hover {
	color: white;
}

.blog {
	height: 250px;
	width: 600px;
	margin: auto;
	background:  hsla(0,100%,50%, 0.6);
	overflow: scroll;
	overflow-x: hidden;
	text-align: center;
}

h1,h2 {
	text-align: center;
	color: white;
	font-family: helvetica, sans-serif;
	opacity: none;
}

p {
	text-align: center;
	font-family: helvetica, sans-serif;
	color: white;
}

.wrapper {
	margin-top: 100px;
}
audio {
	float: right;
	display: none;
}