html {
	height: 100%;
}
body {
	height: 700px;
	/* 
	Standard background cover image background:   url('background.jpg')  no-repeat center center fixed; */
	background: -webkit-linear-gradient(hsl(200,51%,32%), transparent 75%), url('background.jpg');
	background: -o-linear-gradient(hsl(200,51%,32%), transparent 75%), url('background.jpg');
	background: -ms-linear-gradient(hsl(200,51%,32%), transparent 75%), url('background.jpg');
	background: -moz-linear-gradient(hsl(200,51%,32%), transparent 75%), url('background.jpg');
	background-size: cover;
	width: auto;
}


h1 {
	font-size: 72px;
	font-family: Helvetica, sans-serif;
	color: white;
	text-shadow: -1px 1px black,-1px 1px black, -3px 1px black;
	text-align: center;
	margin-top: 100px;
	position: relative;
}

#me img {
	height: 200px;
	width: 200px;
	left: 50%;
	margin-left: -100px;
	position: absolute;
	z-index: 5;
	box-shadow: 5px 5px 5px #000;
	transition: 2s ease;
}

#me img:hover {
	border-radius: 50%;/*
	-webkit-transition-property: border-radius;
	-moz-transition-property: border-radius;
	-o-transition-property: border-radius;
	-ms-transition-property: border-radius;
	transition-property: border-radius; */
	cursor: pointer;
	-webkit-transform: translateY(100px) rotate(2turn);
	-moz-transform: translateY(100px) rotate(2turn);
	-ms-transform: translateY(100px) rotate(2turn);
	-o-transform: translateY(100px) rotate(2turn);
	 transform: translateY(100px) rotate(2turn);
	/*-webkit-transform-origin: top right;*/
	/*-webkit-transform: scale(1.2);*/
}

nav > ul > li {
	list-style-type: none;
	display: inline-block;
	font-family: Helvetica, sans-serif;
	font-size: 20px;
	padding-right: 20px;
	position: relative;

	
}

nav > ul > li:hover ul {
	display: block;

}

nav li ul {
	list-style-type: none;
	position: absolute;
	left: 0;
	padding: 0;
	display: none;
}

a {
	text-decoration: none;
	color: slategray;
	cursor: pointer;
	transition-duration: 1s;
}

a:hover {
	color: white;
	-webkit-transition-property: color;
	-mos-transition-property: color;
	-o-transition-property: color;
	-ms-transition-property: color;
	transition-property: color;
}

audio {
	float: right;
	display: none;
}

@-webkit-keyframes fadeIn
{
from { opacity: 0 }
to { opacity: 1 }
}

@-moz-key-frames fadeIn
{
from { opacity: 0 }
to { opacity: 1 }
}

@-o-key-frames fadeIn
{
from { opacity: 0 }
to { opacity: 1 }
}

@-ms-key-frames fadeIn
{
from { opacity: 0 }
to { opacity: 1 }
}

.fadeIn 
{
-webkit-animation: fadeIn 5s;
-moz-animation: fadeIn 5s;
}
