html {
	height: 100%;
}
body {
	height: 700px;
	/* 
	Standard background cover image background:   url('background.jpg')  no-repeat center center fixed; 
	Circular gradient cover image background: -webkit-radial-gradient(circle closest-side, blue, orange); 
	Circular gradient cover image background:	-moz-linear-gradient(black, white);
	Circular gradient cover image background::	-o-linear-gradient(black, white);
	Circular gradient cover image background:	-ms-linear-gradient(black, white); Prefixed vs unprefixed syntax */
	background: -webkit-linear-gradient(hsl(200,51%,32%), transparent 75%), url('background.jpg');
	background: -webkit-linear-gradient(hsl(200,51%,32%), transparent 75%), url('background.jpg');
	background: -o-linear-gradient(hsl(200,51%,32%), transparent 75%), url('background.jpg');
	background: -ms-linear-gradient(hsl(200,51%,32%), transparent 75%), url('background.jpg');
	background: -moz-linear-gradient(hsl(200,51%,32%), transparent 75%), url('background.jpg');
	background-size: cover;
	width: auto;
}


h1 {
	font-size: 72px;
	font-family: Helvetica, sans-serif;
	color: white;
	text-shadow: -1px 1px black,-1px 1px black, -3px 1px black;
	text-align: center;
	margin-top: 100px;
	position: relative;
	
}

#me img {
	height: 200px;
	width: 200px;
	border-radius: 50%;
	left: 45%;
	position: fixed;
	z-index: 5;
	display: none;
	box-shadow: 5px 5px 5px #000;

}



li {
	list-style-type: none;
	display: inline-block;
	font-family: Helvetica, sans-serif;
	font-size: 20px;
	padding-right: 20px;
	
}


a {
	text-decoration: none;
	color: slategray;
	cursor: pointer;


}

a:hover {
	color: white;
}

audio {
	float: right;
	display: none;
}
